<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG" monitorInterval="60">
    <Properties>
        <Property name="LOG_HOME">log/upload</Property>
        <property name="FILE_NAME">upload</property>
        <property name="CHARSET">GB2312</property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <RollingRandomAccessFile name="INFO" fileName="${LOG_HOME}/${FILE_NAME}.log" filePattern="${LOG_HOME}/${FILE_NAME}_%d{yyyy-MM-dd}_%i.log.gz">
            <Filters>
                <ThresholdFilter level="WARN"  onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="TRACE" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout charset="${CHARSET}" pattern="%d{yyyy-MM-dd 'at' HH:mm:ss z} %-5level %class{36} %L %M - %msg%xEx%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="20MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingRandomAccessFile>

        <!--错误信息记录-->
        <RollingRandomAccessFile name="ERROR" fileName="${LOG_HOME}/${FILE_NAME}-ERROR.log" filePattern="${LOG_HOME}/${FILE_NAME}-ERROR_%d{yyyy-MM-dd}_%i.log.gz">
            <Filters>
                <ThresholdFilter level="FATAL" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="WARN"  onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout charset="${CHARSET}"
	    pattern="%d{yyyy-MM-dd 'at' HH:mm:ss z} %-5level %class{36} %L %M - %msg%xEx%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="20MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingRandomAccessFile>

        <!--系统级别的错误信息-->
        <RollingRandomAccessFile name="FATAL" fileName="${LOG_HOME}/${FILE_NAME}-FATAL.log" filePattern="${LOG_HOME}/${FILE_NAME}-FATAL%d{yyyy-MM-dd}_%i.log.gz">
            <Filters>
                <ThresholdFilter level="FATAL" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout charset="${CHARSET}" pattern="%d{yyyy-MM-dd 'at' HH:mm:ss z} %-5level %class{36} %L %M - %msg%xEx%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="20MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingRandomAccessFile>

        <!--全部日志信息:DEBUG及以上级别-->
        <RollingRandomAccessFile name="ALL" fileName="${LOG_HOME}/${FILE_NAME}-ALL.log" filePattern="${LOG_HOME}/${FILE_NAME}-ALL%d{yyyy-MM-dd}_%i.log.gz">
            <Filters>
                <ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout charset="${CHARSET}" pattern="%d{yyyy-MM-dd 'at' HH:mm:ss z} %-5level %class{36} %L %M - %msg%xEx%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="20MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingRandomAccessFile>
    </Appenders>
    <Loggers>
        <!--监控系统信息-->
        <Logger name="org.springframework" level="WARN" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
<!--        <Logger name="org.springframework.boot.autoconfigure.logging" level="WARN" additivity="false">-->
<!--            <AppenderRef ref="Console"/>-->
<!--        </Logger>-->

        <Logger name="org.thymeleaf" level="WARN" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="com.zaxxer.hikari" level="WARN" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="org.mybatis" level="WARN" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="org.hibernate" level="WARN" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
<!--        <Logger name="org.springframework.security" level="WARN" additivity="false">-->
<!--            <AppenderRef ref="Console"/>-->
<!--        </Logger>-->
        <!--<Logger name="org.springframework.security.web.util.matcher.AntPathRequestMatcher" level="WARN" additivity="false">-->
            <!--<AppenderRef ref="Console"/>-->
        <!--</Logger>-->
        <!--<Logger name="org.springframework.security.web.FilterChainProxy" level="WARN" additivity="false">-->
            <!--<AppenderRef ref="Console"/>-->
        <!--</Logger>-->
<!--        <Logger name="org.springframework.security.*" level="debug" additivity="false">-->
<!--            <AppenderRef ref="Console"/>-->
<!--        </Logger>-->
        <!--<Logger name="org.springframework.security.web.access.intercept.FilterSecurityInterceptor" level="WARN" additivity="false">-->
            <!--<AppenderRef ref="Console"/>-->
        <!--</Logger>-->
        <!--<Logger name="org.springframework.security.web.DefaultSecurityFilterChain" level="WARN" additivity="false">-->
            <!--<AppenderRef ref="Console"/>-->
        <!--</Logger>-->
        <!--<Logger name="org.springframework.security.config.annotation.authentication.configuration.AuthenticationConfiguration$EnableGlobalAuthenticationAutowiredConfigurer" level="WARN" additivity="false">-->
            <!--<AppenderRef ref="Console"/>-->
        <!--</Logger>-->
<!--        <Logger name="com.today.xian.security.BasicFilterSecurityInterceptor" level="WARN" additivity="false">-->
<!--            <AppenderRef ref="Console"/>-->
<!--        </Logger>-->
        <Logger name="io.netty" level="WARN" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="io.lettuce" level="WARN" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Root level="debug">
            <!-- 这儿为trace表示什么都可以打印出来了,其他几个级别分别为：TRACE、DEBUG、INFO、WARN、ERROR和FATAL -->
            <Appender-Ref ref="Console"/>
            <Appender-Ref ref="INFO"/>
            <Appender-Ref ref="ERROR"/>
            <Appender-Ref ref="FATAL"/>
        </Root>
    </Loggers>

</Configuration>
